@use "../variables";
@import "../button";

.previous-directory-container {
  flex-grow: 1;
  color: variables.$slate-400;
  padding: 12px;

  .go-to-previous-directory {
    @include button(true, pointer);
  }
}
