$slate-50: rgb(248 250 252);
$slate-100: rgb(241 245 249);
$slate-200: rgb(226 232 240);
$slate-300: rgb(203 213 225);
$slate-400: rgb(148 163 184);
$slate-500: rgb(100 116 139);
$slate-600: rgb(71 85 105);
$slate-700: rgb(51 65 85);
$slate-800: rgb(30 41 59);
$slate-900: rgb(15 23 42);

$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;
$text-5xl: 3rem;
$text-6xl: 3.75rem;
$text-7xl: 4.5rem;
$text-8xl: 6rem;
$text-9xl: 8rem;

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;

$red-50: rgb(254 242 242);
$red-100: rgb(254 226 226);
$red-200: rgb(254 202 202);
$red-300: rgb(252 165 165);
$red-400: rgb(248 113 113);
$red-500: rgb(239 68 68);
$red-600: rgb(220 38 38);
$red-700: rgb(185 28 28);
$red-800: rgb(153 27 27);
$red-900: rgb(127 29 29);
